@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'LightFont';
    src: url('@/assets/fonts/bodylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'BoldFont';
    src: url('@/assets/fonts/bodybold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'BlackFont';
    src: url('@/assets/fonts/header.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  body {
    @apply font-bodylight;
  }
}
